{% extends "blog/base.html" %}
{% load i18n rst2html %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
  <h1>{{ article.title }}</h1>
  {{ article.body|rst2html }}

  {% for comment in article.comments.all %}
    <div class="comment">
      <div class="byline">
        {% if comment.creator %}
          {{ comment.creator.username }}
        {% else %}
          {% trans "Anonymous" %}
        {% endif %}
      </div>
      <div class="body">
        {{ comment.body|rst2html }}
      </div>
    </div>
  {% endfor %}

  <form action="{% url blog.new_comment article.slug %}" method="POST">
    {% csrf_token %}
    {{ comment_form.body }}
    <input type="submit" value="{% trans "Comment" %}" />
  </form>
{% endblock %}

{% block menu %}
  {% if user.is_staff %}
    <div id="menu">
      <menu type="toolbar">
        <li><a href="{% url blog.edit_article article.slug %}">{% trans "Edit" %}</a></li>
        <li>
          <form action="{% url blog.delete_article article.slug %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="{% trans "Delete" %}" />
          </form>
        </li>
      </menu>
    </div>
  {% endif %}
{% endblock %}
