{% extends "blog/base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
  <h1>{{ article.title }}</h1>
  {{ article.body_html|safe }}
{% endblock %}

{% block menu %}
  {% if user.is_staff %}
    <div id="menu">
      <menu type="toolbar">
        <li><a href="{% url blog.edit_article article.slug %}">Edit</a></li>
        <li>
          <form action="{% url blog.delete_article article.slug %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Delete" />
          </form>
        </li>
      </menu>
    </div>
  {% endif %}
{% endblock %}
