{% extends "blog/base.html" %}
{% load i18n rst2html %}

{% block title %}{{ article.title }}{% endblock %}

{% block body_classes %}article{% endblock %}

{% block content %}
  <article class="main">
    <header>
      {% if user.is_staff %}
        <menu type="toolbar">
          <li><a href="{% url blog.edit_article article.slug %}">{% trans "Edit" %}</a></li>
          <li class="delete">
            <form action="{% url blog.delete_article article.slug %}" method="POST">
              {% csrf_token %}
              <input type="submit" value="{% trans "Delete" %}" />
            </form>
          </li>
        </menu>
      {% endif %}
      <h1>{{ article.title }}</h1>
      <time pubdate="pubdate" class="publication-date" datetime="{{ article.created|date:"Y-m-d" }}">
        {{ article.created|date }}
      </time>
    </header>
  
    <div class="article-body">
      {{ article.body|rst2html }}
    </div>
  
    <div class="comments">
      {% for comment in article.comments.all %}
        <article class="comment">
          <div class="byline">
            {% if comment.creator %}
              {{ comment.creator.username }}
            {% else %}
              {% trans "Anonymous" %}
            {% endif %}
          </div>
          <div class="body">
            {{ comment.body|rst2html }}
          </div>
        </article>
      {% endfor %}
    </div>
  </article>

  <form class="comment" action="{% url blog.new_comment article.slug %}" method="POST">
    {% csrf_token %}
    {{ comment_form.body }}
    <input type="submit" value="{% trans "Comment" %}" />
  </form>
{% endblock %}
