{% extends "blog/base.html" %}
{% load i18n %}

{% block title %}{% trans "Articles" %}{% endblock %}

{% block content %}
  <ul>
    {% for article in articles %}
      <li><a href="{% url blog.article article.slug %}">{{ article.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}

{% block menu %}
  {% if user.is_staff %}
    <div id="menu">
      <menu type="toolbar">
        <li><a href="{% url blog.new_article %}">{% trans "New" %}</a></li>
      </menu>
    </div>
  {% endif %}
{% endblock %}
