{% extends "blog/base.html" %}
{% load i18n rst2html %}

{% block title %}{% trans "Articles" %}{% endblock %}

{% block body_classes %}article-list{% endblock %}

{% block content %}
  {% if user.is_staff %}
    <menu type="toolbar">
      <li><a href="{% url blog.new_article %}">{% trans "New" %}</a></li>
    </menu>
  {% endif %}

  {% for article in articles %}
    <article>
      <h1><a href="{% url blog.article article.slug %}">{{ article.title }}</a></h1>
      <time pubdate="pubdate" class="publication-date" datetime="{{ article.created|date:"Y-m-d" }}">
        {{ article.created|date }}
      </time>
      {{ article.body|rst2html|truncatewords_html:100 }}
    </article>
  {% endfor %}
{% endblock %}
