{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block header %}
      <div id="header">
        <a href="{% url blog.article_list %}">{% trans "Front Page" %}</a>
        {% if user.is_authenticated %}
          {{ user.username }}
          <a href="{% url in_one_ear.logout %}">{% trans "Log Out" %}</a>
        {% else %}
          <a href="{% url in_one_ear.login %}">{% trans "Log In" %}</a>
        {% endif %}
      </div>
    {% endblock %}
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    {% block menu %}{% endblock %}
  </body>
</html>
