{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block header %}
      <div id="header">
        <p>
          <a href="{% url blog.article_list %}">{% trans "Front Page" %}</a>
        </p>
      </div>
    {% endblock %}
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    {% block menu %}{% endblock %}
  </body>
</html>
